// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 490px;
//font-family: 'Inter', sans-serif;
//font-family: 'Poppins', sans-serif;

:root {
  --ff-pop: "Poppins", sans-serif;
  --ff-int: "Inter", sans-serif;
  --transition: 0.2s all ease-in-out;
  --c-bg-main: #797a7e;
  --c-bg-white: #e5e5e5;
  --c-primary: #2346a5;
  --c-white: #fff;
  --c-border: #eee;
  --c-black: #000;
  --c-desc: #e0ece4;
  --c-hover: #3b64d4;
  --c-input: #8d8e90;
  --c-card: #eaeef3;
  --c-card-span: #3a4c66;
  --c-com: #fcf8f8;
}
