.section-course {
  padding-left: 155px;
  padding-bottom: 180px;
  padding-top: 70px;
  padding-right: 155px;
  background-color: var(--c-bg-white);


  @include desktop-small {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include tablet {
    padding-left: 75px;
    padding-right: 75px;
  }

  @include mobile {
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-bottom: 60px;

    @include tablet {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      @include mobile {
        gap: 30px;
      }
  }

  &__title {
    color: var(--c-black);
    font-family: var(--ff-pop);
    font-size: 54px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: 0.169px;
    word-break: break-word;

    @include mobile {
        font-size: 36px;
        order: 1;
      }
  }

  &__desc {
    color: #2f2f30;
    font-family: var(--ff-int);
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        font-size: 18px;
      }
  }

  &__types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    @include desktop-small {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
  }

}
.item {
  display: grid;
  border-radius: 12px;
  background: #fff;
  padding: 25px 35px;
  transition: var(--transition);
  box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.2);

  @include mobile {
    padding: 20px 20px;
  }
  &:hover {
    -webkit-transform: scale(1.065);
    -ms-transform: scale(1.065);
    transform: scale(1.065);
  }

  &__header {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 20px;
  }

  &__title {
    color: var(--c-black);
    font-family: var(--ff-pop);
    font-size: 23px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.169px;
    word-break: break-word;
    @include mobile {
        font-size: 19px;
      }
  }

  &__desc {
    color: #2f2f30;
    font-family: var(--ff-int);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        font-size: 16px;
      }
  }
}

.icon-menu-book {
  padding: 20px;
  border-radius: 50%;
  background-color: var(--c-bg-white);
  user-select: none;
}
