html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-pop);
}
.container {
  width: 100%;
  max-width: calc(1920px + 40px);
  margin-inline: auto;
  padding: 20px;
}
.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}
.main {
  padding: 20px;
}
