.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 137px;
  margin-bottom: 100px;
  display: flex;
  background-color: var(--c-bg-main);
  border-radius: 10px;
  gap: 50px;

  @include desktop-small {
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column-reverse;
  }

  @include tablet {
    padding-left: 75px;
    padding-right: 75px;
  }

  @include mobile {
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 100px;
  }

  img {
    object-fit: cover;
    border-radius: 12px;
    margin: 35px 0 35px 0;

    @include mobile-small {
      object-fit: unset;
    }
  }

  &__info {
    @include desktop-small {
      display: grid;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  &__title {
    color: var(--c-white);
    font-family: var(--ff-pop);
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    margin-bottom: 33px;
    @include desktop-small {
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include mobile-small {
      font-size: 28px;
    }
  }

  &__desc {
    color: var(--c-desc);
    font-family: var(--ff-int);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    margin-bottom: 60px;

    @include desktop-small {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
  }

  &__cont {
    display: flex;
    align-items: center;
    gap: 24px;

    @include desktop-small {
      justify-content: center;
    }
  }

  &__btn {
    cursor: pointer;
    border-radius: 10px;
    background: var(--c-primary);
    padding: 16px 50px;
    border: 2px solid transparent;
    transition: var(--transition);

    &:hover {
      background: var(--c-hover);
      color: var(--c-white);
      -webkit-transform: scale(1.065);
      -ms-transform: scale(1.065);
      transform: scale(1.065);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    a {
      color: var(--c-white);
      text-align: center;
      font-family: var(--ff-int);
      font-size: 18px;
      font-weight: 500;
      @include desktop-small {
        font-size: 16px;
      }
    }
  }

  &__button {
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    padding: 16px 50px;
    border: 2px solid var(--c-white);
    transition: var(--transition);

    &:hover {
      background: var(--c-hover);
      color: var(--c-white);
      -webkit-transform: scale(1.065);
      -ms-transform: scale(1.065);
      transform: scale(1.065);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    a {
      color: var(--c-white);
      text-align: center;
      font-family: var(--ff-int);
      font-size: 18px;
      font-weight: 500;
      @include desktop-small {
        font-size: 16px;
      }
    }
  }
}
